{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <div>Group 5</div>
        <br/>
        <div class="jumbotron">
            <div class="container">
                <h3>
                    Welcome to Scuba Portugal!<br/>
                    The best site for information on where to snorkel and scuba dive in Portugal.
                </h3>
            </div>
        </div>

        <br/>
        <div class="alert alert-info text-left" role="alert">
            <div class="update" id="update">
                This is your team's site. Build your team and your product backlog and start improving your business.
            </div>
        </div>

    </div>

{% endblock %}
